body {
    font-family: "Georgia", serif;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}
.certificate {
    max-width: 800px;
    margin: 50px auto;
    padding: 35px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
.certificate:hover {
    transform: scale(1.01);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.header {
    text-align: center;
    margin-bottom: 30px;
}
.header img {
    float: left;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    transition: border 0.3s;
}
.header img:hover {
    border: 5px solid #444;
}
.header h1 {
    margin: 0px;
    font-size: 40px;
    color: #333;
}
.header h2 {
    margin-top: 0;
    font-size: 25px;
    color: #777;
}
.clearfix {
    clear: both;
}
.margin h2 {
    font-size: 28px;
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content ul, .hobbies ul {
    margin: 0;
    padding-left: 20px;
}
.content ul li, .hobbies ul li {
    margin-bottom: 5px;
}
.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.schedule th, .schedule td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}
.schedule th:hover, .schedule td:hover {
    background-color: #ddd;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #666;
}